<article>
  <header><h2>Add Brand</h2></header>
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <div>
        <div>
          <label for="name">Name</label>
          <input id="name" name="name" [(ngModel)]="brandForm.name">
        </div>
      </div>
    </div>

    <div>
      <div>
        <div>
          <label for="rating">Rating</label>
          <input id="rating" name="rating" [(ngModel)]="brandForm.rating">
        </div>
      </div>
    </div>

    <div>
      <div>
        <div>
          <label for="foundingYear">Founding year</label>
          <input id="foundingYear" name="foundingYear" [(ngModel)]="brandForm.foundingYear">
        </div>
      </div>
    </div>

    <div>
      <div>
        <button type="submit">Add</button>
      </div>
      <div>
        <button type="button" (click)="form.resetForm(ogForm)">Reset</button>
      </div>
      <div>
        <button type="button" [routerLink]="['/brands']">Cancel</button>
      </div>
    </div>
  </form>
</article>
